/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 380px;
    /* height: 50%; */
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: #000/* #110808 */;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
    background-color: #000/* #110808 */;
    font-weight: normal;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -380px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: -380px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
/*     background-color: #110808; */    background-color: #000/* #110808 */;
}

.modal-backdrop {
    z-index: 0;
}


.container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.demo {
padding-top: 0px;
padding-bottom: 0px;
background-color: rgba(0,0,0,0.33);
}

.btn-demo-l {
    margin: 15px;
    padding: 1px 1px;
    border-radius: 0;
    font-size: 16px;
    background-color: transparent;
    color: blanchedalmond;
    /* align: left; */
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    }

.btn-demo-r {
    margin: 15px;
    padding: 1px 1px;
    border-radius: 0;
    font-size: 16px;
    background-color: transparent;
    color: blanchedalmond;
    /* align: right; */
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    }

.btn-demo:focus {
outline: 0;
}

.text-left {
    width:30%;
    float: left;
}

.text-right {
    width:30%;
    float: right;
}

.title-ctr {
    width:30%;
    float: left;
}


/* .vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}